## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log
*.bak

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

## NuGet
*.nupkg
**/packages/*

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
